body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.banner {
    background-color: darkblue;
    color: white;
    padding: 20px;
    text-align: center;
}

.banner h1 {
    font-size: 18px;
    margin: 0 0 15px 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.menu li {
    margin: 0;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background 0.3s;
}

.menu a:hover {
    background: rgb(0, 0, 0);
    border-radius: 4px;
}

.banner02 {
    background-color: lightblue;
    color: black;
    padding: 15px;
    text-align: left;
    margin-top: 20px;
    border-radius: 18px;
    margin: 20px 40px;
}

.banner02 h2 {
    font-size: 16px;
    margin: 0 0 10px 0;
    text-align: center;
}

.banner02 a {
    display: inline-block;
    margin-top: 20px;
    margin-left: 545px;
    background-color: blue;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

main h1 {
    text-align: center;
    margin-top: 60px;
    font-size: 24px;
}

main ul {
    list-style: none;
    padding: 0;
    display: flex;           
    justify-content: center;    
    gap: 50px;                  
    margin-top: 20px;
    flex-wrap: nowrap;          
}

main ul li {
    background: #f4f4f4b0;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 220px;               
    height: 300px;              
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

main ul li a {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 8px 12px;
    border-radius: 18px;
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

main ul li img {
    max-width: 100%;
    max-height: 150px;      
    height: auto;
    border-radius: 6px;
}

.rodape {
    background-color: darkblue; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
}

.rodape nav a {
    color: white;
    text-decoration: none;
    margin: 0 8px;
}

.rodape nav a:hover {
    text-decoration: underline;
}

